body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: URL("../images/BackGroundImage.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.post {
    background: #e6ccb3;
}

iframe {
    max-height: 100px !important;
    max-width: 200px !important;
}

footer {
    color: red;
    position: fixed;
    bottom: 0;
    left: 50px;
    right: 0;
    height: 65px;
}

li:hover {
    font-size:large;
    background-color: red;
}
.jumbotron{
    border-radius:25px;
    border-bottom-style:groove;
    border-right-style:groove;
   background: rgba(0, 0,0, 0.2);
}

