@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Blog</h1>
    
</div>

<section class="row">
    <article class="post col-md-4">
        <h2>Макко текст</h2>
        <p>
            НОВ БЛОГГ
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </article>
    
</section>